* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: burlywood;
}

/*  LAYOUT  */

.container {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.25rem 0;
}

form * {
    width: 22.5%;
}

.txt {
    margin: 1.25rem 0;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

/*  STYLING  */

hr {
    border: 3px solid darkred;
}

form input[type="text"] {
    width: 52.5%;
    margin-left: -0.25em;
    padding: 0.35em 0.25em;
}

textarea {
    width: 100%;
}

.btn {
    display: inline-block;
    background-color: darkred;
    color: white;
    width: 22.5%;
    cursor: pointer;
    border: none;
    font-size: 1.125rem;
    font-weight: bold;
    padding: 0.5em 1em;
    border-radius: 100em;
}

.btn:hover, .btn:focus {
    background-color: black;
}

/*  TYPOGRAPHY  */

h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0.25em;
}

label {
    font-size: 1.25rem;
}

textarea,
input[type="text"]
{
    font-size: 1rem;
}